.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid gold;
  padding: 10px;
}

.header{
  padding: 15px;
}

h1 { 
    color: solid royalblue;
}

h3 { 
  color: slategray;
}

body  {
  padding: 10px;
  background-color: linen;
}